/*
filename: style.css

author: Toan Nguyen Nhu Duc

created: 07/04/2025

last modified: 07/04/2025

description: The style file of the job.html
*/

h1{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}

nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:10px;
        border: 2px solid;
}

.menu{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
    text-decoration: none;
    padding:0.2em 0.6em;
    border: 4px  #ccc;
}

.small_description{
    display: inline-block;
    text-decoration: none;
    padding:0.2em 0.6em;
    background-color: #cdced1;
    border-radius: 4%;
}

#Soft_Dev,#Web_Designer{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

aside,footer{
    font-style: italic;
    font-size: small;
}

aside{
    border:3px inset gray;
    border-radius: 5%;
    margin: 1em;
    padding : 1em;
    width:25%;
    float:right;
    box-shadow: 12px 12px 2px 1px gray;
}

footer{
    border-top: 4px double navy;
    clear:both;
}

