/*
filename: style.css

author: Toan Nguyen Nhu Duc

created: 07/04/2025

last modified: 09/04/2025

description: The style file of the job.html
*/

/* Changing the heading font, color by using shorthand font property*/
body {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
}

h1{
    background-color: navy;
    font: normal 40px Times;
    color:white
}

header{
    background-color: navy; 
    color:white;
    padding: 20px 0;
}

.header-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.logo{
    width:170px;
    height: auto;
}

nav {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    background-color: #ff9900;
    border-radius: 5px;
}

.content_box{
    height: 40%;
    width:50%;
    border: 2px solid navy;
    box-shadow: 10px 2px 2px 2px tan;
    padding: 10px 10px;
    margin: 7px;
    color:navy;
}

/*Create small box for summarize details for the job-description */
.small_description{
    display: inline-block; /* All content in 1 line*/
    text-decoration: none;
    padding:0.2em 0.5em; /*Create small gap between border and the content for better visibility*/
    background-color: #cdced1;
    border-radius: 5%;
}

/*Change style of the aside and footer elements to a smaller italic font*/
aside,footer{
    font-style: italic;
    font-size: small;
}

/*Move aside content to the right */
aside{
    border:3px inset gray;
    border-radius: 5%;
    margin: 1em;
    padding : 1em;
    width:25%; 
    float:right;
    box-shadow: 12px 12px 2px 1px gray; /*Create effect for the content to make it completely stand out from the original content*/
}
/*Border to differentitate the content and the footer element*/
footer{
    border-top: 4px double navy;
    clear:both;/*Make sure that the footer will stand in a single line without touching anything , i.e the logo of the company */
    text-align: center; /* Move all the text to the CENTER of the footer*/
    background-color: navy;
    color:white;
}

footer a{
    color:#ff9900;
    text-decoration: none;

}

footer a:hoer{
    text-decoration: underline;
}

ol li:first-child{float: left;} /*Make the odd numbers float to the left side , even numbers float to the right side*/
ol li:nth-child(2){float: right;}
ol li:nth-child(3){float: left;}
ol li:nth-child(4){float: right;}
ol li:last-child{float: left;}

.mandatory{
    list-style-type:square; /* Make essential requirements's bullet points become square*/
}

.optional{
    list-style-type:circle; /* Make preferable requirements's bullet points become circle*/
}


.benefits{
    list-style-type:upper-roman; /* Make benefits's bullet points become Roman Number and the Key Responsibilities are normal bullet points */
}





