/*
filename: style.css

author: Toan Nguyen Nhu Duc

created: 07/04/2025

last modified: 08/04/2025

description: The style file of the job.html
*/

/* Changing the heading font, color by using shorthand font property*/
h1{
    background-color: beige;
    font: normal 40px Times;
}

nav{
    display: flex; 
    justify-content: space-around;/*Allocate the nav element to divide equally*/
    align-items: center; /* Move items to the center of the nav */
    border: 2px solid; /* create Border for the menu*/
    background: url(images/navy_background.jpg) repeat-x right;   /*Change the background color to fit with the theme*/
}

nav a{color:beige;} /*Constrast with the background color*/

.menu{ 
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding:0.2em 0.6em;
}

.small_description{
    display: inline-block;
    text-decoration: none;
    padding:0.2em 0.5em;
    background-color: #cdced1;
    border-radius: 5%;
}

#Soft_Dev,#Web_Designer{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

aside,footer{
    font-style: italic;
    font-size: small;
}

aside{
    border:3px inset gray;
    border-radius: 5%;
    margin: 1em;
    padding : 1em;
    width:25%;
    float:right;
    box-shadow: 12px 12px 2px 1px gray;
}

footer{
    border-top: 4px double navy;
    clear:both;
    text-align: center;
}

ol li:first-child{float: left;}
ol li:nth-child(2){float: right;}
ol li:nth-child(3){float: left;}
ol li:nth-child(4){float: right;}
ol li:last-child{float: left;}

.mandatory{
    list-style-type:square;
}

.optional{
    list-style-type:circle;
}

.benefits{
    list-style-type:upper-roman;
}




